.searchFieldOuterContainer {
    display: flex;
    flex-direction: column;
}

.label {
    display: none;
}

.searchFieldInnerContainer {
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgrey;
    padding: 0.5em;
}

.searchFieldInnerContainer.isActive {
    border: 1px solid black;
}

#searchField {
    min-width: 0;
    border: none;
    outline: none;
}

#clearButton {
    background-image: url('../../../assets/magnifying-glass.svg');
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0);
    border: none;

    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
}

#clearButton.isSearching {
    background-image: url('../../../assets/cross.svg');
}

#clearButton:hover {
    cursor: pointer;
}

#clearButton span {
    display: none;
}