#theGreatShipSearch {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}

#theGreatShipSearch span {
    width: 50%;
}


#theGreatShipSearch ul {
    list-style-type: none;
    padding-left: 0;
}

#theGreatShipSearch li {
    border: 1px solid lightgrey;
    padding: 0.5em;
    margin-top: 1em;
}